<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Search">
        </form>
    </div>
    <div>
            <h2>Take Off Code :{{data.takeoff_code}}</h2>
            <br>
            <h2>Destination Code :{{data.destination_code}}</h2>
            <br>
            <h2>Position :{{data.position}}</h2>
<br>
            <h2>Duration :{{data.duration}}</h2>
        </table>
    </div>

    <div>
    </div>
</body>
</html>