<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

   <form action="{% url 'search_results' %}" method="get">
    {% csrf_token %}
        {{ form.search_query.label_tag }}
        {{ form.search_query }}
        <input type="submit" value="Search">
    </form>

        <!-- myapp/templates/myapp/search_results.html -->
    <h1>Search Results</h1>
    {% if results %}
        <ul>
            {% for item in results %}
                <li>{{ item.name }}</li>
                <li>{{ item.parent }}</li>
                <li>{{ item.child_left }}</li>
                <li>{{ item.child_right }}</li>


            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}

</body>
</html>